{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% resource 'theme/ozwillo.css' %}
<link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.bootstrap.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/plugins.system.t3.base-bs3.less.t3.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.core.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.typography.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.forms.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.navigation.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.navbar.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.modules.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.joomla.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.components.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.style.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.plugins.hover.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.themes.dark.template.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.template.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/plugins.system.t3.base-bs3.less.off-canvas.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/t3-assets/dev/dark/templates.t3_bs3_blank.less.off-canvas.less.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/templates/t3_bs3_blank/fonts/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://www.ozwillo-preprod.eu/media/mod_languages/css/template.css" type="text/css">

{% endblock %}
