{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% resource 'theme/ozwillo.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.bootstrap.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.forms.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.navigation.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.navbar.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.style.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.themes.dark.template.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.template.less.css' %}
  {% resource 'theme/responsive.css' %}
  {% resource 'theme/off-canvas.js' %}
  <link rel="stylesheet" href="/css/font-awesome-4.1.0.min.css" />
{% endblock %}

{% block links %}
   <link rel="shortcut icon" href="/img/data.ico" />
{% endblock %}


{% block body_extras %}
   {{ super() }}
   <script>
     var _prum = [['id', '5565b790abe53d4857ed5942'] , ['mark', 'firstbyte', (new Date()).getTime()]];
     (function() {
        var s = document.getElementsByTagName('script')[0], p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
     })();
   </script>

   <!-- Piwik -->
   <script type="text/javascript">
     var _paq = _paq || [];
     _paq.push(['trackPageView']);
     _paq.push(['enableLinkTracking']);
     (function() {
         var u="//oasis.piwikpro.com/";
         _paq.push(['setTrackerUrl', u+'piwik.php']);
         _paq.push(['setSiteId', 79]);
         var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
         g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
     })();
</script>
<noscript><p><img src="//oasis.piwikpro.com/piwik.php?idsite=79" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{% endblock %}
