{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% resource 'theme/ozwillo.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.bootstrap.less.css' %}
  {% resource 'theme/plugins.system.t3.base-bs3.less.t3.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.core.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.forms.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.navigation.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.navbar.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.modules.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.joomla.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.components.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.style.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.plugins.hover.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.themes.dark.template.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.template.less.css' %}
  {% resource 'theme/plugins.system.t3.base-bs3.less.off-canvas.less.css' %}
  {% resource 'theme/templates.t3_bs3_blank.less.off-canvas.less.css' %}
  {% resource 'theme/template.css' %}
  {% resource 'theme/responsive.css' %}
  {% resource 'theme/off-canvas.js' %}
  <link rel="stylesheet" href="/css/font-awesome-4.1.0.min.css" />
{% endblock %}

{% block links %}
   <link rel="shortcut icon" href="/img/data.ico" />
{% endblock %}
