{% set current_lang = request.environ.CKAN_LANG %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <a href="/" class="footer-brand"></a>
            </div>
            <div class="col-md-4 col-sm-4 footer-links">
                <a href="https://www.ozwillo.com/fr/contact"  target="_blank">{% trans %}Contact{% endtrans %}</a>
                <a href="https://www.ozwillo.com/fr/mentions-legales"  target="_blank">{% trans %}Legal Notices{% endtrans %}</a>
                <a href="https://ckan.org" target="_blank">Open Source.</a>
            </div>
            <div class="col-md-3 col-sm-3 social-media-box">
                {#<a href="https://www.youtube.com/user/sictiam" class="social-media-logo youtube-logo" target="_blank"></a>#}
                <a href="https://twitter.com/ozwillo" class="social-media-logo twitter-logo" target="_blank"></a>
                <a href="https://www.linkedin.com/company/ozwillo" class="social-media-logo linkedin-logo" target="_blank"></a>
                {#<a href="https://www.facebook.com/SICTIAM/" class="social-media-logo facebook-logo" target="_blank"></a>#}
                {#<a href="https://www.instagram.com/sictiam_fr/" class="social-media-logo instagram-logo" target="_blank"></a>#}
            </div>
            <div class="col-md-3 col-sm-5 footer-link">
                <a href="https://www.ozwillo.com">{% trans %}Created by Ozwillo with{% endtrans %} <i class="fa fa-heart"></i></a>
            </div>
        </div>
    </div>
</footer>