<footer id="t3-footer" class="wrap t3-footer">

	<section class="t3-sitemap">
					<!-- FOOT NAVIGATION -->
			<div class="container">
					<!-- SPOTLIGHT -->
	<div class="t3-spotlight t3-footnav  row">
					<div class=" col-lg-6 col-md-6 col-sm-3 col-xs-12">
								<div class="t3-module module " id="Mod92"><div class="module-inner"><div class="module-ct">

<div class="custom">
	<div class="text-center">
  <img src="https://www.ozwillo-preprod.eu/images/brand/logo.png">
  <p>{% trans %}A platform of interactive services{% endtrans %}<br>
     {% trans %}for a common good of data{% endtrans %}
  </p>
</div></div>
</div></div></div>
							</div>
					<div class=" col-lg-2 col-md-2 col-sm-3 col-xs-4">
								<div class="t3-module module " id="Mod141"><div class="module-inner"><div class="module-ct"><ul class="nav navbar-nav navbar-right navbar-footer">
<li><a href="/en/oz/discover">{% trans %}Discovering{% endtrans %}</a></li>
<li><a href="/en/oz/news">{% trans %}News{% endtrans %}</a></li>
<li><a href="/en/oz/co-construct">{% trans %}Co-construct{% endtrans %}</a></li>
<li><a href="/en/oz/let-s-go">{% trans %}Let's go{% endtrans %}</a></li></ul>
</div></div></div>
							</div>
					<div class=" col-lg-2 col-md-2 col-sm-3 col-xs-4">
								<div class="t3-module module " id="Mod142"><div class="module-inner"><div class="module-ct"><ul class="nav navbar-nav navbar-right navbar-footer">
<li><a href="/en/contact">{% trans %}Contact{% endtrans %}</a></li>
<li><a href="/en/l-equipe-projet-oasis">{% trans %}Project team{% endtrans %}</a></li>
<li><a href="/en/oz/projects">{% trans %}Projects{% endtrans %}</a></li></ul>
</div></div></div>
							</div>
					<div class=" col-lg-2 col-md-2 col-sm-3 col-xs-4">
								<div class="t3-module module " id="Mod143"><div class="module-inner"><div class="module-ct"><ul class="nav navbar-nav navbar-right navbar-footer">
<li><a href="/en/guide-utilisateur">{% trans %}User guide{% endtrans %}</a></li>
<li><a href="/en/terms">{% trans %}General terms of use{% endtrans %}</a></li>
<li><a href="/en/legal-notices">{% trans %}Legal Notices{% endtrans %}</a></li>
<li><a href="/en/oz/co-construct">{% trans %}Governance{% endtrans %}</a></li></ul>
</div></div></div>
							</div>
			</div>
<!-- SPOTLIGHT -->			</div>
			<!-- //FOOT NAVIGATION -->
			</section>

	<section class="t3-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12 copyright ">
					

<div class="custom">
	<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <img src="https://www.ozwillo-preprod.eu/images/brand/eu.png" class="pull-left bm rm">
	<p class="tm-h">{% trans %}OASIS is a project cofunded by the EU under the Program for Competitiveness and Innovation CIP ICT PSP- N°297210{% endtrans %}</p>
  </div>
</div></div>

				</div>
							</div>
		</div>
	</section>

</footer>
