{% set current_lang = request.environ.CKAN_LANG %}
{% set current_page = request.environ.CKAN_CURRENT_URL %}

<div id="toggle-container" class="">
            <button id="toggle-toc" class="btn btn-pink visible-xs-inline-block" data-toggle="dropdown" type="button">
                <i class="fa fa-bars"></i>
            </button>            
            <ul class="dropdown-menu">
                <li  {#% if current_page.endswith('') %} class='active' {% endif %#}><a href="/{{current_lang}}">{% trans %}Home{% endtrans %}</a></li>
                <li  {% if current_page.startswith('/about') %} class='active' {% endif %}><a href="/{{current_lang}}/about">
                                {% trans %}Le projet{% endtrans %}</a></li>
                <li {% if current_page.startswith('/dataset') %} class='active' {% endif %}><a href="/{{current_lang}}/dataset">{%
                        trans %}Datasets{% endtrans %}</a></li>
                <li {% if current_page.startswith('/organization') %} class='active' {% endif %}><a href="/{{current_lang}}/organization">{%
                        trans %}Organizations{% endtrans %}</a></li>
                <li {% if current_page.startswith('/groups') %} class='active' {% endif %}><a href="/{{current_lang}}/groups">{%
                                            trans %}Thèmes{% endtrans %}</a></li>
                <li {% if current_page.startswith('/datarequest') %} class='active' {% endif %}><a href="/{{current_lang}}/datarequest">{%
                        trans %}Data Request{% endtrans %}</a></li>
                <li {% if current_page.startswith('/showcase') %} class='active' {% endif %}><a href="/{{current_lang}}/showcase">{%
                        trans %}Showcase{% endtrans %}</a></li>
                {% if c.userobj %}
                <li class="divider"></li>
                <li {% if current_page.startswith('/dashboard') %} class='active' {% endif %}><a href="/{{current_lang}}/dashboard">{%
                        trans %}Dashboard{% endtrans %}</a></li>
                {% endif %}
            </ul>
            <a href="/{{current_lang}}">
                <img src="/img/logo.svg" class="logo-mobile" alt="{% trans %}Home{% endtrans %}">
            </a>
            {% if c.userobj %}
            <a class="btn visible-xs-inline-block pull-right" href="{{ h.url_for('/user/slo') }}"><i class="fa fa-sign-out"></i></a>
            {% else %}
            <a class="btn visible-xs-inline-block pull-right" href="{{ g.ozwillo_portal_url }}/my?ui_locales={{current_lang}}"><i class="fa fa-sign-in"></i></a>
            {% endif %}
</div>

<nav id="off-nav">
    <ul class="nav">
        <li>
            <a class="logo" href="/{{current_lang}}"><img src="/img/logo-h43.png" alt="{% trans %}Home{% endtrans %}"></a>
        </li>
        <li class="divider first"></li>
        <li>
            <a class="nav-apps" href="{{ g.ozwillo_portal_url }}/{{current_lang}}/store?ui_locales={{current_lang}}">{%
                trans %}Catalog{% endtrans %}</a>
        </li>
        {% if c.userobj %}
        <li class="deeper dropdown parent">
            <a class="nav-data" href="#">{% trans %}Data{% endtrans %}</a>
            <ul class="nav">
                <li {% if current_page.startswith('/dataset') %} class='active' {% endif %}><a href="/{{current_lang}}/dataset">{%
                        trans %}Datasets{% endtrans %}</a></li>
                <li {% if current_page.startswith('/organization') %} class='active' {% endif %}><a href="/{{current_lang}}/organization">{%
                        trans %}Organizations{% endtrans %}</a></li>
                <li {% if current_page.startswith('/dashboard') %} class='active' {% endif %}><a href="/{{current_lang}}/dashboard">{%
                        trans %}Dashboard{% endtrans %}</a></li>
            </ul>
            {% else %}
        <li class="active deeper dropdown parent">
            <a class="dropdown-toggle nav-data" href="/">{% trans %}Data{% endtrans %}</a>
            {% endif %}
        </li>
        <li class="divider"></li>
        <li>
            {% if c.userobj %}
            <a href="{{ h.url_for('/user/slo') }}"><i class="fa fa-sign-out"></i> {% trans %}Log out{% endtrans %}</a>
            {% else %}
            <a href="{{ g.ozwillo_portal_url }}/my?ui_locales={{current_lang}}"><i class="fa fa-sign-in"></i> {% trans %}Log in{% endtrans %}</a>
            {% endif %}
        </li>
        
    </ul>
</nav>

<nav id="t3-mainnav" class="wrap navbar navbar-default t3-mainnav navbar-fixed-top">
    <div class="container">
        <div class="t3-navbar">
            <div class="col-xs-8 menu text-center">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/{{current_lang}}" class="logo">
                            <img src="/img/logo.svg" alt="{% trans %}Home{% endtrans %}">
                        </a>
                    </li>
                    <li  {% if current_page.endswith('') %} class='active' {% endif %}><a href="/{{current_lang}}">{% trans %}Home{% endtrans %}</a></li>
                    <li  {% if current_page.startswith('/about') %} class='active' {% endif %}><a href="/{{current_lang}}/about">
                        {% trans %}Le projet{% endtrans %}</a></li>
                    <li class="item-119 deeper dropdown parent">
                        <a class="dropdown-toggle nav-data" href="#" data-toggle="dropdown">{% trans %}Data{% endtrans %}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li {% if current_page.startswith('/dataset') %} class='active' {% endif %}><a href="/{{current_lang}}/dataset">{%
                                    trans %}Datasets{% endtrans %}</a></li>
                            <li {% if current_page.startswith('/organization') %} class='active' {% endif %}><a
                                    href="/{{current_lang}}/organization">{%
                                    trans %}Organizations{% endtrans %}</a></li>
                            <li {% if current_page.startswith('/group') %} class='active' {% endif %}><a href="/{{current_lang}}/groups">{%
                                    trans %}Thèmes{% endtrans %}</a></li>
                            <li {% if current_page.startswith('/datarequest') %} class='active' {% endif %}><a
                                    href="/{{current_lang}}/datarequest">
                                    {% trans %}Data Request{% endtrans %}</a></li>
                            <li {% if current_page.startswith('/showcase') %} class='active' {% endif %}><a
                                    href="/{{current_lang}}/showcase">{%
                                    trans %}Showcase{% endtrans %}</a></li>
                        </ul>
                    </li>

                    {% if c.userobj %}
                    <li {% if current_page.startswith('/dashboard') %} class='active' {% endif %}><a
                            href="/{{current_lang}}/dashboard">{% trans %}Dashboard{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="nav navbar-nav navbar-right">
                    <li class="item-123">
                        {% if c.userobj %}
                        <a class="btn btn-pink navbar-btn" href="{{ h.url_for('/user/slo') }}">{% trans %}Log out{% endtrans %}</a>
                        {% else %}
                        <a class="btn navbar-btn btn-pink" href="{{ g.ozwillo_portal_url }}/my?ui_locales={{current_lang}}">
                            {% trans %}Log in{% endtrans %}</a>
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-lang">
                    <li class="dropdown">{% snippet "language_switcher.html" %}</li>
                </ul>
            </div>
        </div>
    </div>
</nav>