{% set current_lang = request.environ.CKAN_LANG %}
{% set current_page = request.environ.CKAN_CURRENT_URL %}

<div class="header container-fluid text-center">
    <div class="row">
        <div class="header__logo col-md-3">
            <a href="" class="logo">
                <img src="/img/oz.png" alt="{% trans %}Home{% endtrans %}">
            </a>
        </div>
        <div class="header__title col-md-9">
            <h1>L'OpenData pour tous</h1>
            <span>La plateforme de publication de données publiques ouvertes pour tous nos adhérents.</span>
        </div>
    </div>
</div>


<div id="toggle-container">
    <ul class="nav">
        <li class="item-119 deeper dropdown parent">
            <button id="toggle-toc" class="btn btn-primary visible-xs-inline-block" data-toggle="dropdown" type="button">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
                <li {% if current_page.startswith('/dataset') %} class='active' {% endif %}><a href="/{{current_lang}}/dataset">{%
                        trans %}Datasets{% endtrans %}</a></li>
                <li {% if current_page.startswith('/organization') %} class='active' {% endif %}><a href="/{{current_lang}}/organization">{%
                        trans %}Organizations{% endtrans %}</a></li>
                <li {% if current_page.startswith('/datarequest') %} class='active' {% endif %}><a href="/{{current_lang}}/datarequest">{%
                        trans %}Data Request{% endtrans %}</a></li>
                <li {% if current_page.startswith('/showcase') %} class='active' {% endif %}><a href="/{{current_lang}}/showcase">{%
                        trans %}Showcase{% endtrans %}</a></li>
                {% if c.userobj %}
                <li class="divider"></li>
                <li {% if current_page.startswith('/dashboard') %} class='active' {% endif %}><a href="/{{current_lang}}/dashboard">{%
                        trans %}Dashboard{% endtrans %}</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>

<nav id="off-nav">
    <ul class="nav">
        <li>
            <a class="logo" href="{{ g.ozwillo_url }}/{{current_lang}}"><img src="/img/logo-h43.png" alt="{% trans %}Home{% endtrans %}"></a>
        </li>
        <li class="divider first"></li>
        <li>
            <a class="nav-apps" href="{{ g.ozwillo_portal_url }}/{{current_lang}}/store?ui_locales={{current_lang}}">{%
                trans %}Catalog{% endtrans %}</a>
        </li>
        {% if c.userobj %}
        <li class="deeper dropdown parent">
            <a class="nav-data" href="#">{% trans %}Data{% endtrans %}</a>
            <ul class="nav">
                <li {% if current_page.startswith('/dataset') %} class='active' {% endif %}><a href="/{{current_lang}}/dataset">{%
                        trans %}Datasets{% endtrans %}</a></li>
                <li {% if current_page.startswith('/organization') %} class='active' {% endif %}><a href="/{{current_lang}}/organization">{%
                        trans %}Organizations{% endtrans %}</a></li>
                <li {% if current_page.startswith('/dashboard') %} class='active' {% endif %}><a href="/{{current_lang}}/dashboard">{%
                        trans %}Dashboard{% endtrans %}</a></li>
            </ul>
            {% else %}
        <li class="active deeper dropdown parent">
            <a class="dropdown-toggle nav-data" href="/">{% trans %}Data{% endtrans %}</a>
            {% endif %}
        </li>
        <li class="divider"></li>
        <li>
            {% if c.userobj %}
            <a href="{{ h.url_for('/user/slo') }}"><i class="fa fa-sign-out"></i> {% trans %}Log out{% endtrans %}</a>
            {% else %}
            <a href="/user/login"><i class="fa fa-sign-in"></i> {% trans
                %}Log in{% endtrans %}</a>
            {% endif %}
        </li>
        <li class="divider"></li>
    </ul>
</nav>
<nav id="t3-mainnav" class="wrap navbar navbar-default t3-mainnav">
    <div class="container">
        <div class="t3-navbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6 text-center">
                        <ul class="nav navbar-nav">
                            <li class="item-117" {% if current_page=='/' %} class='active' {% endif %}><a href="/{{current_lang}}">{%
                                    trans %}Home{%
                                    endtrans %}</a></li>
                            <li class="item-117" {% if current_page=='/' %} class='active' {% endif %}><a href="/{{current_lang}}">
                                {% trans %}The project{%endtrans %}</a></li>
                            <li class="item-119 deeper dropdown parent">
                                <a class="dropdown-toggle nav-data" href="#" data-toggle="dropdown">{% trans %}Data{%
                                    endtrans %}
                                    <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li {% if current_page.startswith('/dataset') %} class='active' {% endif %}><a href="/{{current_lang}}/dataset">{%
                                            trans %}Datasets{% endtrans %}</a></li>
                                    <li {% if current_page.startswith('/organization') %} class='active' {% endif %}><a
                                            href="/{{current_lang}}/organization">{%
                                            trans %}Organizations{% endtrans %}</a></li>
                                    <li {% if current_page.startswith('/datarequest') %} class='active' {% endif %}><a
                                            href="/{{current_lang}}/datarequest">
                                            {% trans %}Data Request{% endtrans %}</a></li>
                                    <li {% if current_page.startswith('/showcase') %} class='active' {% endif %}><a
                                            href="/{{current_lang}}/showcase">{%
                                            trans %}Showcase{% endtrans %}</a></li>
                                    {% if c.userobj %}
                                    <li class="divider"></li>
                                    <li {% if current_page.startswith('/dashboard') %} class='active' {% endif %}><a
                                            href="/{{current_lang}}/dashboard">{%
                                            trans %}Dashboard{% endtrans %}</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="item-117" {% if current_page=='/' %} class='active' {% endif %}><a href="/{{current_lang}}">{%
                                    trans %}Help{%
                                    endtrans %}</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <ul class="nav navbar-nav navbar-right navbar-lang">
                            <li class="dropdown">{% snippet "language_switcher.html" %}</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="item-123">
                                {% if c.userobj %}
                                <a class="btn navbar-btn pink-btn" href="{{ h.url_for('/user/slo') }}">{% trans %}Log
                                    out{% endtrans %}</a>
                                {% else %}
                                <a class="btn navbar-btn pink-btn" href="/user/login">{% trans
                                    %}Log in{% endtrans %}</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>  <!--NAV BAR CONTAINER-->        
        </div>
    </div>
</nav>