{% set stats = h.get_site_statistics() %}
{% set resource_number = h.ozwillo_theme_get_resource_number() %}
{% set terminal_number = h.ozwillo_theme_get_terminal_number() %}
{% set member_number = h.ozwillo_theme_get_member_number() %}

<table class="some-numbers" border="1" frame="void" rules="all" >
  <tr>
    <td>
      <b>{{ h.SI_number_span(stats.dataset_count) }}</b><br/>
      <small>{{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}</small>
    </td>
    <td>
      <b>{{ resource_number }}</b><br/>
      <small>{{ _('resources') }}</small>
    </td>
  </tr>
  <tr>
    <td>
      <b>{{ terminal_number }}</b><br/>
      <small>{{ _('bornes Cigales') }}</small>
    </td>
    <td>
      <b>{{ member_number }}</b><br/>
      <small>{{ _('adhérents SICTIAM') }}</small>
    </td>
  </tr>
</table>