{% set organizations = h.ozwillo_theme_get_popular_organizations() %}
{% set stats = h.get_site_statistics() %}
{% set packages = h.ozwillo_theme_get_popular_datasets() %}

<div class="content-bloc blocs">
  <div class="row row1">

    <div class="span4 col4 bloc first">
      <h3><i class="icon-chevron-right"></i> {{ _('Most viewed') }}</h3>
      {% for package in packages %}
        {% snippet 'home/snippets/dataset_small.html', package=package %}
        {% if not loop.last %}
          <hr/>
        {% endif %}
      {% endfor %}
    </div>

    <div class="span4 col4 bloc">
      <h3><i class="icon-chevron-right"></i> {{ _('Some numbers') }}</h3>
      {% snippet 'home/snippets/bloc_some_numbers.html' %}
    </div>

    <div class="span4 col4 bloc">
      <h3><i class="icon-chevron-right"></i> {{ _('The data producers') }}</h3>
      {% for organization in organizations %}
        {% set url=h.url_for(controller='organization', action='read', id=organization.name) %}
        <ul>
          <li><a href={{ url }}>{{ organization.title or organization.name }}</a></li>
        </ul>
      {% endfor %}
    </div>

  </div>
</div>