<div class="categories container-fluid">
        <div class="row categories__row">
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/ADMINISTRATION_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">{% trans %}Administration{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/AGRICULTURE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-pink">{% trans %}Agriculture<br />& Food{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/CITOYEN_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">{% trans %}Citizenship<br /> & Solidarity{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/CULTURE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">{% trans %}Culture<br />& Tourism{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/ECONOMIE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-pink">{% trans %}Economy<br />& Employment{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/EDUCATION_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">{% trans %}Childhood<br />Education<br />& Formation{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/ENVIRONNEMENT_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">{% trans %}Environment{% endtrans%}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/SANTE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-pink">{% trans%}Healthcare{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/SPORT_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">{% trans %}Sport{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/TERRITOIRE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">{% trans%}Territory{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/TRANSPORT_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-pink">{% trans %}Transport<br />& Mobility{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-3 categories__card">
                    <a href="">
                        <img src="/images/ui/URBANISME_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">{% trans %}Town&nbsp;Planning<br />Housing<br />Equipment{% endtrans %}</span>
                    </a>
                </div>            
        </div>
    </div>
    
  