
<div class="container map">
    <h3 class="text-center section__title"><i class="icon-chevron-right"></i>{% trans%}Pilot territories{% endtrans %}</h3>
    <iframe width="100%" height="400px" frameBorder="0" allowfullscreen
            src="https://umap.openstreetmap.fr/fr/map/frd-map-test_774533?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
    <span class="map_description">{% trans%}Map of pilot territories involved in the realization of FDR use cases (uMap embed){% endtrans %}</span>
</div>
