{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = project_org.title or project_org.name %}

{% set current_lang = request.environ.CKAN_LANG %}
{# [FDR] TODO
{% set notes = h.markdown_extract(project_org.notes, extract_length=truncate) %}
{% set date = h.ozwillo_theme_display_date(package.metadata_created) %}
#}

{# [FDR] #}
<div class="col-md-6 ">
    <div class="dataset-item">
    <div class="row dataset__block-header">
        <div class="col-xs-12">
            <h4>{{ h.link_to(h.truncate(title, truncate_title), h.url_for('%s.read' % 'organization',
                id=project_org.name)) }}
            </h4>
            <a href="/{{current_lang}}/dataset?q=FDR_CAS_USAGE:*">{% trans %}Datasets{% endtrans %}</a>
            <div></div>
            {% if notes %}
                <div class="description">{{ notes|urlize }}</div>
            {% endif %}
        </div>
    </div>
    
    <div class="bottom">
        <div class="resource-type">
        {# [FDR] TODO
        <ul class="dataset-resources unstyled">
            {% for resource in h.dict_list_reduce(package.resources, 'format') %}
            <li>
                <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" class="label"
                    data-format="{{ resource.lower() }}">{{ resource }}</a>
            </li>
            {% endfor %}
        </ul>
        #}
    </div>
    </div>
    </div>
</div>
