<div class="background">
</div>

<div class="searchbar container-fluid">
    <div class="row search__block">
        <div class="col-xs-12 text-center">
            <form class="searchbar__form" action="/" method="get">
                <input class="searchbar__input" type="text" name="q" value="" autocomplete="off" placeholder="{{ _('Search Your Data') }}">
                <button type="submit" class="searchbar__button">
                    <span>{{ _('Search') }}</span>
                </button>
            </form>
        </div>
    </div>
</div>
