{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = showcase.title or showcase.name %}

{% set current_lang = request.environ.CKAN_LANG %}
{# % set notes = h.markdown_extract(showcase.notes, extract_length=truncate)|urlize % #}
{% set notes = h.render_markdown(showcase.notes) %}
{% set date = h.ozwillo_theme_display_date(showcase.metadata_created) %}
{% set image_url = showcase.extras |selectattr("key", "image_url") |attr("value")  %}

{# [FDR] #}
<div class="col-md-6 ">
    <div class="dataset-item">
    <div class="row dataset__block-header">
        <div class="col-xs-12">
            {% if image_url %}
            <div class="object_card_left_icon_wrapper">
                <img class="object_card_left_icon" src="{{ image_url }}"/>
            </div>
            {% endif %}
            <div>
            <h4>{{ h.link_to(h.truncate(title, truncate_title), h.url_for('%s.read' % 'showcase',
                id=showcase.name)) }}
            </h4>
            {% if notes %}
                <div class="description">{{ notes }}</div>
            {% endif %}
            </div>
        </div>
    </div>
    
    <div class="bottom">
        <div class="resource-type">
        {# [FDR] TODO
        <ul class="dataset-resources unstyled">
            {% for resource in h.dict_list_reduce(package.resources, 'format') %}
            <li>
                <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" class="label"
                    data-format="{{ resource.lower() }}">{{ resource }}</a>
            </li>
            {% endfor %}
        </ul>
        #}
    </div>
    </div>
    </div>
</div>
