body {
  font-family: "DIN" !important;
}

.authed ul li a[href^="/user/edit"],
div a[href^="/user/edit"],
.not-authed ul li a[href^="/user/login"],
.not-authed ul li a[href^="/user/register"] {
   display: none ;
}

#t3-mainnav {
  border-bottom: 1px solid #ddd;
}

#t3-mainnav a.logo {
  box-shadow: none;
}

.navbar .nav .btn {
  background: transparent;
}

.navbar .nav > li > .navbar-btn {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar .nav > li > a {
  padding-top: 14px;
  padding-bottom: 14px;
}

@media (min-width: 992px) {
  #t3-mainnav .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #t3-mainnav .container {
    width: 1170px;
  }
}

.homepage [role="main"], body [role="main"] {
padding-top: 80px;
}

.toolbar .breadcrumb > li + li:before {
  content: none;
}

@media (max-width: 767px) {
  .toolbar {
    padding-left: 20px;
  }
}

#t3-mainnav .nav>li>.dropdown-menu:before,
#t3-mainnav .nav>li>.dropdown-menu:after {
  display: none;
}

.nav a.nav-data:before {
  display: block;
  content: "";
  margin-top: -3px;
  width: 40px;
  height: 30px;
  float: left;
  background: url('/images/ui/data-on.png') no-repeat top left;
}

.hero {
	background: url(/img/stripe.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage .module-search {
	background: #E6E6E6;
	color: #626580;
}

.homepage .module-search .module-content,
.homepage .module-search .tags {
	background: transparent;
}

.homepage p.step {
  padding-left: 12px;
}
.homepage h5 {
  font-style: italic;
  font-size: 1.1em;
}

.search-form .search-input.search-giant button {
	margin: 0;
	top: 0;
	right: 0;
	height: 100%;
	padding: 0 1em;
	background: #714090;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.search-form .search-input button i {
	color: white !important;
}

.navbar-lang li a {
    text-transform: capitalize;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 0;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 7px;
}
.navbar .navbar-lang {
  margin-right: 0;
}

.navbar li.item-112:hover .dropdown-menu,
.navbar-lang li.dropdown:hover .dropdown-menu,
.navbar-nav li.item-119:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu .divider {
  margin: 5px 0;
  border-bottom: 1px solid #e5e5e5;
}

.navbar .nav li.dropdown.active>.dropdown-toggle {
  background-color: #eeeeee;
  box-shadow: none;
  text-shadow: none;
}

.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
  background: #eeeeee;
}

.navbar .dropdown-menu > .active > a, .navbar .dropdown-menu > .active > a:hover, .navbar .dropdown-menu > .active > a:focus {
  background: #6e418e;
}

.navbar .nav li.dropdown:hover, .navbar .nav li.dropdown.open>.dropdown-toggle {
  background-color: #eeeeee;
}

/* footer */

#content {
  margin-bottom: 40px;
}

footer {
  position: relative;
}
footer .t3-footnav {
  padding: 16px 0 0;
}

footer #oz-footer-well {
  text-align: center;
  color: #6f438e;
}

footer p {
  margin: 16px 0;
}

footer .navbar-nav.navbar-footer > li > a {
  color: #555555;
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
  line-height: 22px;
  padding: 0.25em 0.4em;
  text-decoration: none;
}

footer .navbar-nav.navbar-footer {
  margin-top: 16px;
}

footer .navbar-nav.navbar-footer > li > a:hover {
  background: #efe4f0;
}

footer a.ext-twitter:after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 22px;
  height: 18px;
  background: url('/img/twitter.png') no-repeat top 3px left 0;
}

html, body {
  height: 100%;
}

body > .homepage, body > [role="main"] {
  min-height: 100%;
  height: auto;
  background: #eeeeee url("../../../base/images/bg.png");
}


@media (min-width: 980px) {
  
  body > .homepage, body > [role="main"] {
    margin-bottom: -205px;
    padding-bottom: 205px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  body > .homepage, body > [role="main"] {
    margin-bottom: -267px;
    padding-bottom: 267px;
  }
}

@media (max-width: 767px) {
  body > .homepage, body > [role="main"] {
    margin-bottom: -349px;
    padding-bottom: 349px;
  }
}

li.media-item {
    margin-bottom:10px;
}

@media screen and (max-width: 767px) {
    .form-horizontal .control-group .control-label {
        display: block;
        width: auto;
    }
    .form-actions .btn {
        float: right;
        margin-top: 5px;
    }

    .stages li .highlight {
        text-indent: 0;
    }
    .navbar .container {
        padding: 0 15px;
        margin-left: 20px;
    }
    #t3-mainnav ul.nav li, #t3-mainnav ul.nav li .dropdown-menu {
        display: block;
        float: none;
    }
    #t3-mainnav ul.navbar-right {
        display: none;
    }
}

/* reponsive menu */

#toggle-toc {
  position: absolute;
  margin-top: 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
#toggle-toc:focus {
  outline: none;
}

@media (max-width: 767px) {
  .container > .navbar-header {
    margin: 0 !important;
  }
}

#toggle-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  transition: left 0.2s ease-out;
}

#off-nav {
  display: none;
  margin-bottom: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  bottom: 0;
  margin-left: -230px;
  width: 230px;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #aaa;
  background: #fff;
  transition: left 0.2s ease-out;
}

#off-nav i {
  margin: 0 15px 0 8px;
}

#off-nav a.logo {
  padding-bottom: 12px;
}

#off-nav ul ul.nav a {
  padding: 4px 4px 4px 56px;
}

#off-nav li.divider {
  margin: 12px 0;
  border-bottom: 2px solid #eee;
}

#off-nav li.divider.first {
  margin-top: 0;
}

body.toc-open #toggle-container, body.toc-open #off-nav {
  left: 230px;
}
@media (max-width: 768px) {
  #t3-mainnav {
    display: none;
  }
  #toggle-container, #off-nav {
    display: block;
  }
}

h1.page-heading {
  font-family: Dunkin, Arial, sans-serif;
  color: #714090;
}

/* fix CKAN responsive issues */

.homepage.layout-1 .row1 .col2, .homepage.layout-1 .row2 .col2 {
  position: relative;
}

.homepage.layout-1 .row1 .col1 {
  margin-top: 48px;
}

@media (max-width: 767px) {
  .homepage.layout-1 .row1 .col1 {
    margin-top: 16px;
  }
}

@media (max-width: 830px) {
  .hidden-menu-table {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .row1 .col1 {
    margin-bottom: 20px;
  }
}

/*@media (max-width: 767px) {
  .module-content, .module-content:first-child, .module-content:last-child {
    margin-bottom: 20px;
  }
}*/

@media (min-width: 980px) and (min-width: 1199px) {
  .primary.span12 {
    width: 940px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .primary.span12 {
    width: 724px;
  }
}

@media (max-width: 767px) {
  .primary.span12 {
    width: 100%;
  }
}

@media (max-width: 979px) {
  aside.secondary {
    display :none;
  }
  .row.wrapper {
    background: #fff;
  }
}