@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);

body {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
}

.flex-row.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.box {
    border: none;
    -webkit-border-radius: none;
    border-radius: 0;
}

.authed ul li a[href^="/user/edit"],
div a[href^="/user/edit"],
.not-authed ul li a[href^="/user/login"],
.not-authed ul li a[href^="/user/register"] {
   display: none ;
}

#t3-mainnav {
  border-bottom: 1px solid #ddd;
}

#t3-mainnav a.logo {
  box-shadow: none;
}

.navbar .nav .btn {
  background: transparent;
}

.navbar .nav > li > .navbar-btn {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar .nav > li > a {
  padding-top: 14px;
  padding-bottom: 14px;
}

@media (min-width: 992px) {
  #t3-mainnav .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #t3-mainnav .container {
    width: 1170px;
  }
}

body [role="main"] {
  padding-top: 80px;
}

.homepage [role="main"] {
  padding-top: 100px;
  padding-bottom: 100px;
}

body [role="main"].second {
  padding-top: 40px;
}

.toolbar .breadcrumb > li + li:before {
  content: none;
}

@media (max-width: 767px) {
  .toolbar {
    padding-left: 20px;
  }
}

#t3-mainnav .nav>li>.dropdown-menu:before,
#t3-mainnav .nav>li>.dropdown-menu:after {
  display: none;
}

.nav a.nav-data:before {
  display: block;
  content: "";
  margin-top: -3px;
  width: 40px;
  height: 30px;
  float: left;
  background: url('/images/ui/data-on.png') no-repeat top left;
}


.hero {
  background-image: none;
}


.homepage .module-search {
	color: #626580;
	margin-top: 0;
}

.homepage .module-search .module-content,
.homepage .module-search .tags {
	background: transparent;
}

.homepage .stats {
    margin-top: 10px;
}

.homepage .stats ul li {
    width: 33%;
    font-weight: 300;
}

.homepage p.step {
  padding-left: 12px;
}
.homepage h5 {
  font-size: 1.1em;
}

.search-form .search-input.search-giant button {
	margin: 0;
	top: 0;
	right: 0;
	height: 100%;
	padding: 0 1em;
	background: #9C27B0;
}

.search-form .search-input button i {
	color: white !important;
}

.navbar-lang li a {
    text-transform: capitalize;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 0;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 7px;
}
.navbar .navbar-lang {
  margin-right: 0;
}

.navbar li.item-112:hover .dropdown-menu,
.navbar-lang li.dropdown:hover .dropdown-menu,
.navbar-nav li.item-119:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu .divider {
  margin: 5px 0;
  border-bottom: 1px solid #e5e5e5;
}

.navbar .nav li.dropdown.active>.dropdown-toggle {
  background-color: #eeeeee;
  box-shadow: none;
  text-shadow: none;
}

.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
  background: #eeeeee;
}

.navbar .dropdown-menu > .active > a, .navbar .dropdown-menu > .active > a:hover, .navbar .dropdown-menu > .active > a:focus {
  background: #6e418e;
}

.navbar .nav li.dropdown:hover, .navbar .nav li.dropdown.open>.dropdown-toggle {
  background-color: #eeeeee;
}

/* footer */

#content {
  margin-bottom: 40px;
}

footer {
  position: relative;
}
footer .t3-footnav {
  padding: 16px 0 0;
}

footer #oz-footer-well {
  color: #dfcae2;
}

footer p {
  margin: 16px 0;
}

footer .navbar-nav.navbar-footer > li > a {
  color: #454446;
  font-size: 0.8em;
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
  line-height: 22px;
  padding: 0.25em 0.4em;
  text-decoration: none;
}

footer .navbar-nav.navbar-footer {
  margin-top: 16px;
}

footer .navbar-nav.navbar-footer > li > a:hover {
  background: #efe4f0;
}

html, body {
  height: 100%;
}

body > .homepage {
  min-height: 100%;
  height: auto;
  background: url(/img/stripe.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

body > [role="main"] {
  min-height: 100%;
  height: auto;
  background-color: #EDE7F6;
  background-image: none;
}


@media (min-width: 980px) {
  
  body > .homepage, body > [role="main"] {
    margin-bottom: -205px;
    padding-bottom: 205px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  body > .homepage, body > [role="main"] {
    margin-bottom: -267px;
    padding-bottom: 267px;
  }
}

@media (max-width: 767px) {
  body > .homepage, body > [role="main"] {
    margin-bottom: -349px;
    padding-bottom: 349px;
  }
}

li.media-item {
    margin-bottom:10px;
}

@media screen and (max-width: 767px) {
    .form-horizontal .control-group .control-label {
        display: block;
        width: auto;
    }
    .form-actions .btn {
        float: right;
        margin-top: 5px;
    }

    .stages li .highlight {
        text-indent: 0;
    }
    .navbar .container {
        padding: 0 15px;
        margin-left: 20px;
    }
    #t3-mainnav ul.nav li, #t3-mainnav ul.nav li .dropdown-menu {
        display: block;
        float: none;
    }
    #t3-mainnav ul.navbar-right {
        display: none;
    }
}

/* reponsive menu */

#toggle-toc {
  position: absolute;
  margin-top: 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
#toggle-toc:focus {
  outline: none;
}

@media (max-width: 767px) {
  .container > .navbar-header {
    margin: 0 !important;
  }
}

#toggle-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  transition: left 0.2s ease-out;
}

#off-nav {
  display: none;
  margin-bottom: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  bottom: 0;
  margin-left: -230px;
  width: 230px;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #aaa;
  background: #fff;
  transition: left 0.2s ease-out;
}

#off-nav i {
  margin: 0 15px 0 8px;
}

#off-nav a.logo {
  padding-bottom: 12px;
}

#off-nav ul ul.nav a {
  padding: 4px 4px 4px 56px;
}

#off-nav li.divider {
  margin: 12px 0;
  border-bottom: 2px solid #eee;
}

#off-nav li.divider.first {
  margin-top: 0;
}

body.toc-open #toggle-container, body.toc-open #off-nav {
  left: 230px;
}
@media (max-width: 768px) {
  #t3-mainnav {
    display: none;
  }
  #toggle-container, #off-nav {
    display: block;
  }
}

h1.page-heading {
  color: #714090;
}

/* fix CKAN responsive issues */

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .toolbar .breadcrumb, .toolbar .breadcrumb a {
    color: #505050;
    text-shadow: 0 1px 0 #ffffff;
  }
  .toolbar .breadcrumb .home {
    display: inline-block;
  }

}

.homepage.layout-1 .row1 .col2, .homepage.layout-1 .row2 .col2 {
  position: relative;
}

.homepage.layout-1 .module-search {
    margin-top: 0;
}

@media (max-width: 767px) {
  .homepage.layout-1 .row1 .col1 {
    margin-top: 16px;
  }
}

@media (max-width: 830px) {
  .hidden-menu-table {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .row1 .col1, .row2 .col1  {
    margin-bottom: 20px;
  }
}

/*@media (max-width: 767px) {
  .module-content, .module-content:first-child, .module-content:last-child {
    margin-bottom: 20px;
  }
}*/

@media (min-width: 980px) and (min-width: 1199px) {
  .primary.span12 {
    width: 940px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .primary.span12 {
    width: 724px;
  }
}

@media (max-width: 767px) {
  .primary.span12 {
    width: 100%;
  }
}

.wrapper {
  border-radius: 0;
  -webkit-border-radius: 0;
  border: none;
}

@media (min-width: 1199px) {
  .row.wrapper {
    background-position: 50px top;
  }
}

@media (max-width: 979px) {
  /*aside.secondary {
    display :none;
  }
  .row.wrapper {
    background: #fff;
  }*/
}

.media-grid {
  background: none;
}