@font-face {
  font-family: 'Dunkin';
  src: url('/fonts/Dunkin.eot?') format('eot'), url('/fonts/Dunkin.woff') format('woff'), url('/fonts/Dunkin.ttf') format('truetype'), url('/fonts/Dunkin.svg#Dunkin') format('svg');
}
@font-face {
  font-family: 'DIN';
  src: url('/fonts/DIN.eot?') format('eot'), url('/fonts/DIN.woff') format('woff'), url('/fonts/DIN.ttf') format('truetype'), url('/fonts/DIN.svg#DIN') format('svg');
}
@font-face {
  font-family: 'DINAlternate-Light';
  src: url('/fonts/DINAlternate-Light.eot?') format('eot'), url('/fonts/DINAlternate-Light.woff') format('woff'), url('/fonts/DINAlternate-Light.ttf') format('truetype'), url('/fonts/DINAlternate-Light.svg#DIN') format('svg');
}
.am-h {
  margin: 6px;
}
.tm-h {
  margin-top: 6px;
}
.rm {
  margin-right: 12px;
}
.bm {
  margin-bottom: 12px;
}
.bm-2 {
  margin-bottom: 24px;
}
.text-left {
  text-align: left;
}
blockquote p {
  text-align: left;
}
blockquote small {
  text-align: right;
}
.inline-block {
  display: inline-block !important;
}
.well-primary {
  color: #fff;
  background: #6e418e;
  border: 0;
}
p.large {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 4px;
}
.navbar-nav.navbar-footer > li {
  float: none;
}
.navbar-nav.navbar-footer > li > a {
  padding: 0.2em;
}
.nav select {
  color: #636884;
}
.nav li a.logo {
  padding: 3px 15px 4px;
}
@media (min-width: 980px) {
  .nav li a.logo {
    padding-left: 0;
  }
}
.navbar,
.navbar .btn {
  font-size: 18px;
}
.navbar-nav > li > .navbar-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 6px;
  border-color: #636884;
}
.navbar-default .navbar-nav > .open > a.navbar-btn {
  background: #636884;
  color: #fff;
}
.navbar .navbar-lang {
  margin-left: 10px;
}
.nav a.nav-apps:before {
  display: block;
  content: "";
  margin-top: -3px;
  width: 40px;
  height: 30px;
  float: left;
  background: url('/images/ui/apps-on.png') no-repeat top left;
}
.navbar-default .navbar-nav > .active > a.logo {
  background: #fff;
}

.t3-sitemap {
  background: #DFCAE2;
}
.t3-copyright {
  background: #6e418e;
  color: #fff;
}